@model SistemaVotacionAutomatizada.Models.Elecciones

@{
    ViewData["Title"] = "Eliminar Elección";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Elección</h1>
<div class="alert alert-danger" role="alert">¿Está seguro que quiere eliminar?</div>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha.GetDateTimeFormats('D')[0])
        </dd>
        <dt class="col-sm-2">
            Activo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a Listado</a>
    </form>
</div>
