@model IEnumerable<SistemaVotacionAutomatizada.Models.Elecciones>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Procesos Electorales</h1>

<!--Pablo: agregar condicionante para esconder boton-->

@if (ViewBag.ErrorNCandidatos != null)
{
    <div class="alert alert-danger"><strong>@ViewBag.ErrorNCandidatos</strong></div>
}


@if (ViewBag.InfoEleccionActiva != null)
{
    <div class="alert alert-info">@ViewBag.InfoEleccionActiva</div>
}
@if (ViewBag.ProcesoElectroral != true)
{
    <div class="form-group">
        <a asp-action="Create" class="btn btn-primary">Nueva Elección</a>
    </div>
}
<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Activo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(x => x.Fecha).OrderByDescending(x => x.Estado == true))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Fecha.GetDateTimeFormats('D')[0])
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>

                    @if (ViewBag.ProcesoElectroral == true && item.Estado == true)
                    {
                        <form method="post">


                            <input type="submit" asp-action="FinalizarEleccion" class="btn btn-danger" value="Finalizar Elección" />

                        </form>
                    }
                    else
                    {

                        <a asp-action="VerResultados" asp-route-id="@item.Id" class="btn btn-primary">Ver Resultados</a>
                    }



                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
