@model IEnumerable<SistemaVotacionAutomatizada.Models.VotosElecciones>

@{
    ViewData["Title"] = "Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Resultados de elecciones</h1>

<h4>Fecha de elecciones @ViewBag.FechaEleccion</h4>
<hr />
<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>
                Puestos Electivos
            </th>
        </tr>
    </thead>

    <tbody>
        @{string NombrePuesto = "Collap"; int count = 0;}
        @foreach (var item in Model.Select(x => x.Candidato.PuestoElectivos).ToList().Distinct())
        {
            var Nombre = NombrePuesto + count;
            <tr id="accordion">
                <td class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#@Nombre">
                            <h5>@Html.DisplayFor(modelItem => item.Nombre)</h5>
                        </a>
                    </div>
                    <div id="@Nombre" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            @foreach (var itemCand in Model.Select(x => x.Candidato).Where(x => x.PuestoElectivosId == item.Id).OrderByDescending(x => x.VotosElecciones.Count).Distinct())
                            {
                                int cantVotos = @Model.Where(x => x.CandidatoId == itemCand.Id).Count();
                                int cantVotosTotales = @Model.Where(x => x.Candidato.PuestoElectivosId == itemCand.PuestoElectivosId).Count();
                                decimal barFillValue = Math.Round((decimal)((cantVotos * 100) / (decimal)cantVotosTotales),4);
                            <p>
                                <strong> @Html.DisplayFor(modelItem => itemCand.Nombre) @Html.DisplayFor(modelItem => itemCand.Apellido)</strong>
                            </p>
                                <p>
                                    Partido: @foreach (var itemF in ViewBag.ListPartidos)
                                    {
                                        if (itemF.Id == itemCand.PartidoId)
                                        {
                                       @itemF.Nombre
                                    }
                                }
                                    </p>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" style="width: @barFillValue%">%@barFillValue</div>
                                    </div>
                                    <p class="">
                                        Votos: @cantVotos
                                    </p>
                                    <hr />
                                }
                        </div>
                    </div>
                </td>
            </tr>
            count++;
        }

    </tbody>
</table>

<div>
    <a asp-action="Index" class="btn btn-primary">Volver a Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
