@model SistemaVotacionAutomatizada.Models.Candidatos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "~/images/" + (Model.Photo ?? "nophoto.png");
}

<h1>Detalles Candidatos</h1>
<hr/>

<div class="card mb-3" style="max-width:540px">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@photoPath" asp-append-version="true" class="card-img" />
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</h5>
                <p class="card-text">Email: @Html.DisplayFor(model => model.Email)</p>
                <p class="card-text">Partido: @Html.DisplayFor(model => model.Partido.Nombre)</p>
                <p class="card-text">Puesto al que Aspira: @Html.DisplayFor(model => model.PuestoElectivos.Nombre)</p>
                <p class="card-text">Activo: @Html.DisplayFor(model => model.Estado)</p>
            </div>
        </div>
    </div>

</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a Listado</a>
</div>
