@model IEnumerable<SistemaVotacionAutomatizada.Models.Candidatos>

@{
    ViewData["Title"] = "Candidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Candidatos</h1>
@if (ViewBag.InfoEleccionActiva != null)
{
    <div class="alert alert-warning">@ViewBag.InfoEleccionActiva</div>
}
<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Candidato</a>
</p>

<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>Foto</th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partido)
            </th>
            <th>Puesto Electivo</th>
            <th>Activo</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.OrderByDescending(x=>x.Estado == true))
        {
            var photoPath = "~/images/" + ((!string.IsNullOrEmpty(item.Photo) ? item.Photo : "nophoto.png"));

            <tr>
                <td>

                    <img style="width: 200px;height: 200px" src="@photoPath" alt="Alternate Text" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Partido.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PuestoElectivos.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <!--<a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |-->
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
