@model IEnumerable<SistemaVotacionAutomatizada.Models.Partidos>

@{
    ViewData["Title"] = "Partidos Políticos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
<h1>Index</h1>
@if (ViewBag.InfoEleccionActiva != null)
{
    <div class="alert alert-warning">@ViewBag.InfoEleccionActiva</div>
}
=======
<h1>Partidos Políticos</h1>

>>>>>>> master
<p>
    <a asp-action="Create" class="btn btn-primary">Crear Partido</a>
</p>
<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>Descripción</th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>Activo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<<<<<<< HEAD
        @foreach (var item in Model)
        {
            var photoPath = "~/images/" + ((!string.IsNullOrEmpty(item.Logo) ? item.Logo : "nophoto.png"));
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <img style="width: 200px;height: 200px" src="@photoPath" alt="Alternate Text" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
=======

@foreach (var item in Model) {
    var photoPath ="~/images/" + ((!string.IsNullOrEmpty(item.Logo) ? item.Logo : "nophoto.png" ));
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <img style="width: 200px;height: 200px" src="@photoPath" alt="Alternate Text" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <!--<a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |-->
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
>>>>>>> master
    </tbody>
</table>
